div#login.modal.hide.fade
  div.modal-header  
    h3 Log On
  div.modal-body
    form.form-stacked
      label(for='nickName')  Nick Name:
      input.span4(type='text',id='nickName')
      label(for='channels')  Channels:
      input.span4(type='text',id='channels')
      label(for='server')  Server:
      input.span4(type='text',id='server')
  div.modal-footer
    button#logOn.success.btn Log On
