div.container-fluid.irc-panel
  div.sidebar
    h1 #{sideBarHeader}
    input(type='text')
    div.irc-list.irc-content &nbsp
  div.content
    h1 #{mainHeader}
    div.irc-main.irc-content &nbsp;
    input(type='text',class='main-input')