!!!
html
  head
    link(rel='stylesheet',href='http://twitter.github.com/bootstrap/1.3.0/bootstrap.min.css')
    link(rel='stylesheet',href='css/custom.css')
    script(src='/socket.io/socket.io.js')
    script(src='browserify.js')
    title Node IRC Client
  body